body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background: #0e000a;
}
.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.site-footer {
  background: #30292d;
  color: white;
  padding: 1rem;
  text-align: end;
}

.container {
  margin: 0 auto;
  padding: 1rem;
  width: 800px;
}

.page-title {
  font-size: 3rem;
}

.wishlist {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}

.wishlist-item {
  background-color: #30292d;
  padding: 1rem;
  border-radius: 5px;
}

.wishlist-item-body {
  display: flex;
  gap: 1rem;
}

.wishlist-item-title {
  font-size: 1.5rem;
}

.wishlist-item-image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  max-width: 200px;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
}

.wishlist-item-description {
  text-align: justify;
  margin: 0;
}
