body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-image: url("background.jpg");
}

.topnav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.topnav-link-item {
  float: left;
}

.topnav-right-link-item {
  float: right;
}

.topnav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav-link:hover {
  background-color: #111;
}

.brand {
  background-color: #cc6600;
}

.site-footer {
  background: #333;
  color: white;
  padding: 1rem;
  text-align: end;
}

.container {
  margin: 0 auto;
  padding: 1rem;
  width: 800px;
}

.drawing {
  width: 100%;
  height: auto;
  max-width: 200px;
  box-shadow: 5px 5px 5px black;
}
