body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  color: black;
}

.topnav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.topnav-link-item {
  float: left;
}

.topnav-right-link-item {
  float: right;
}

.topnav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav-link:hover {
  background-color: #111;
}

.brand {
  background-color: #cc6600;
}

.site-footer {
  background: #333;
  color: white;
  padding: 1rem;
  margin-top: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("background.jpg");
}

.drawing {
  width: 100%;
  height: auto;
  max-width: 200px;
}
