@import url("./drawings/styles.css");
@import url("./headings/styles.css");
@import url("./topnav/styles.css");
@import url("./wishlist/styles.css");

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background: #0e000a;
}
.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.site-footer {
  background: #30292d;
  color: white;
  padding: 1rem;
  text-align: end;
}

.container {
  margin: 0 auto;
  padding: 1rem;
  width: 800px;
}
